.cor {

    background-color: rgb(55, 194, 209);


}

body{
    text-align: center;
    align-items: center;
    color: black;
}
.two {

    background-color: rgb(60, 209, 55);


}
.lol {

    background-color: rgb(229, 81, 31);


}
.lil {

    background-color: rgb(230, 22, 22);


}